<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/view/common/error404.jsp</location>
    </error-page>
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Controller_Home</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Login</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Logout</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Signup</servlet-name>
        <servlet-class>controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_SignupVerify</servlet-name>
        <servlet-class>controller.SignupVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_ForgotPassword</servlet-name>
        <servlet-class>controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_ForgotPaswordVerify</servlet-name>
        <servlet-class>controller.ForgotPaswordVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_ProfileUser</servlet-name>
        <servlet-class>controller.ProfileUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_EditProfile</servlet-name>
        <servlet-class>controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_NewPassword</servlet-name>
        <servlet-class>controller.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_HistoryOrder</servlet-name>
        <servlet-class>controller_customer.WaitConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Collections</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_ProductDetail</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>controller_manager.ManageConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteConfirmHistory</servlet-name>
        <servlet-class>controller_manager.DeleteConfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrder</servlet-name>
        <servlet-class>controller_manager.ManageAddConfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHasConfirm</servlet-name>
        <servlet-class>controller_manager.ManageOrderHasConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardManager</servlet-name>
        <servlet-class>controller_manager.ManageDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransportationProcess</servlet-name>
        <servlet-class>controller_manager.ManageTransportationProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrderManager</servlet-name>
        <servlet-class>controller_manager.ManageDeliveredSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperReceiveOrdersServlet</servlet-name>
        <servlet-class>controller_shipper.ShipperReceiveOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperAcceptOrder</servlet-name>
        <servlet-class>controller_shipper.ShipperAddAcceptOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetail</servlet-name>
        <servlet-class>controller_manager.ManageTransportationProcessDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartSerlvet</servlet-name>
        <servlet-class>controller.CartSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSucessCustomer</servlet-name>
        <servlet-class>controller_customer.CustomerOrderSucess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackOrderServlet</servlet-name>
        <servlet-class>controller_customer.FeedbackOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderDetail</servlet-name>
        <servlet-class>controller_manager.ManageConfirmOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHasConfirmDetail</servlet-name>
        <servlet-class>controller_manager.ManageOrderHasConfirmDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperReceiveOrderDetail</servlet-name>
        <servlet-class>controller_shipper.ShipperReceiveOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperTransportationProcess</servlet-name>
        <servlet-class>controller_shipper.ShipperTransportationProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperDeliverSuccessServlet</servlet-name>
        <servlet-class>controller_shipper.ShipperAddDeliverSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperUndeliveredServlet</servlet-name>
        <servlet-class>controller_shipper.ShipperUndeliveredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperTransportationProcessDetail</servlet-name>
        <servlet-class>controller_shipper.ShipperTransportationProcessDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperDeliveredSuccess</servlet-name>
        <servlet-class>controller_shipper.ShipperDeliveredSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperDeliveredSuccessDetail</servlet-name>
        <servlet-class>controller_shipper.ShipperDeliveredSuccessDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperUndeliveredOrderDetail</servlet-name>
        <servlet-class>controller_shipper.ShipperUndeliveredOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperUndeliveredOrder</servlet-name>
        <servlet-class>controller_shipper.ShipperUndeliveredOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDeliveredSuccessDetail</servlet-name>
        <servlet-class>controller_manager.ManageDeliveredSuccessDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>controller.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProduct</servlet-name>
        <servlet-class>controller.FilterProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetail</servlet-name>
        <servlet-class>controller_customer.DeleteOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderStatus</servlet-name>
        <servlet-class>controller_customer.CustomerOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderStatusDetail</servlet-name>
        <servlet-class>controller_customer.CustomerOrderStatusDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderStatusTranDetail</servlet-name>
        <servlet-class>controller_customer.CustomerOrderStatusTranDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByAdminServlet</servlet-name>
        <servlet-class>controller_admin.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProByAdminServlet</servlet-name>
        <servlet-class>controller_admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCateServlet</servlet-name>
        <servlet-class>controller_admin.ManageCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageBrand</servlet-name>
        <servlet-class>controller_admin.ManageBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller_admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductAdmin</servlet-name>
        <servlet-class>controller_admin.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-class>controller_admin.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCategoryServlet</servlet-name>
        <servlet-class>controller_admin.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>controller_admin.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBrandServlet</servlet-name>
        <servlet-class>controller_admin.DeleteBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>controller_admin.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller_admin.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrand</servlet-name>
        <servlet-class>controller_admin.AddBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImage</servlet-name>
        <servlet-class>controller_admin.UpdateImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImageProduct</servlet-name>
        <servlet-class>controller_admin.UpdateImageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>controller_admin.ManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachAccount</servlet-name>
        <servlet-class>controller_admin.SearchAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUnDeliveredSuccessDetail</servlet-name>
        <servlet-class>controller_manager.ManageUnTransportationSuccessDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePaymentwithshipper</servlet-name>
        <servlet-class>controller_manager.ManagePaymentwithshipper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePaymentSuccess</servlet-name>
        <servlet-class>controller_manager.ManagePaymentSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePaymentSuccessDetail</servlet-name>
        <servlet-class>controller_manager.ManagePaymentSuccessDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperPaymentSuccess</servlet-name>
        <servlet-class>controller_shipper.ShipperPaymentSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperBanking</servlet-name>
        <servlet-class>controller_shipper.ShipperBanking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperPaymentSuccessDetail</servlet-name>
        <servlet-class>controller_shipper.ShipperPaymentSuccessDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller_Login</servlet-name>
        <url-pattern>/account/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Signup</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_SignupVerify</servlet-name>
        <url-pattern>/account/signupverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_ForgotPassword</servlet-name>
        <url-pattern>/account/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_ForgotPaswordVerify</servlet-name>
        <url-pattern>/account/forgot-password-verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_ProfileUser</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_EditProfile</servlet-name>
        <url-pattern>/account/edit-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_ChangePassword</servlet-name>
        <url-pattern>/account/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_NewPassword</servlet-name>
        <url-pattern>/account/new-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_HistoryOrder</servlet-name>
        <url-pattern>/order/WaitConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Collections</servlet-name>
        <url-pattern>/collections/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_ProductDetail</servlet-name>
        <url-pattern>/product/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/manager/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteConfirmHistory</servlet-name>
        <url-pattern>/manager/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrder</servlet-name>
        <url-pattern>/manager/ConfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHasConfirm</servlet-name>
        <url-pattern>/manager/OrderHasConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardManager</servlet-name>
        <url-pattern>/manager/dashboard-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransportationProcess</servlet-name>
        <url-pattern>/manager/TransportationProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrderManager</servlet-name>
        <url-pattern>/manager/DeliveredSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperReceiveOrdersServlet</servlet-name>
        <url-pattern>/shipper/ShipperReceiveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperAcceptOrder</servlet-name>
        <url-pattern>/ShipperAcceptOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetail</servlet-name>
        <url-pattern>/manager/TransportationProcessDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartSerlvet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSucessCustomer</servlet-name>
        <url-pattern>/order/OrderSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackOrderServlet</servlet-name>
        <url-pattern>/order/FeedbackOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderDetail</servlet-name>
        <url-pattern>/manager/ConfirmOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHasConfirmDetail</servlet-name>
        <url-pattern>/manager/OrderHasConfirmDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperReceiveOrderDetail</servlet-name>
        <url-pattern>/shipper/ShipperReceiveOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperTransportationProcess</servlet-name>
        <url-pattern>/shipper/ShipperTransportationProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperDeliverSuccessServlet</servlet-name>
        <url-pattern>/shipper/ShipperDeliverSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperUndeliveredServlet</servlet-name>
        <url-pattern>/shipper/ShipperUndelivered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperTransportationProcessDetail</servlet-name>
        <url-pattern>/shipper/ShipperTransportationProcessDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperDeliveredSuccess</servlet-name>
        <url-pattern>/shipper/ShipperDeliveredSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperDeliveredSuccessDetail</servlet-name>
        <url-pattern>/shipper/ShipperDeliveredSuccessDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperUndeliveredOrderDetail</servlet-name>
        <url-pattern>/shipper/ShipperUndeliveredOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperUndeliveredOrder</servlet-name>
        <url-pattern>/shipper/ShipperUndeliveredOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDeliveredSuccessDetail</servlet-name>
        <url-pattern>/manager/DeliveredSuccessDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProduct</servlet-name>
        <url-pattern>/product/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetail</servlet-name>
        <url-pattern>/order/DeleteOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderStatus</servlet-name>
        <url-pattern>/order/OrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderStatusDetail</servlet-name>
        <url-pattern>/order/OrderStatusDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderStatusTranDetail</servlet-name>
        <url-pattern>/order/OrderStatusTranDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByAdminServlet</servlet-name>
        <url-pattern>/administrator/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProByAdminServlet</servlet-name>
        <url-pattern>/administrator/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCateServlet</servlet-name>
        <url-pattern>/administrator/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageBrand</servlet-name>
        <url-pattern>/administrator/Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/administrator/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductAdmin</servlet-name>
        <url-pattern>/administrator/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeServlet</servlet-name>
        <url-pattern>/administrator/homeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCategoryServlet</servlet-name>
        <url-pattern>/administrator/UpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/administrator/UpdateBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBrandServlet</servlet-name>
        <url-pattern>/administrator/DeleteBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/administrator/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/administrator/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrand</servlet-name>
        <url-pattern>/administrator/AddBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImage</servlet-name>
        <url-pattern>/administrator/UpdateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImageProduct</servlet-name>
        <url-pattern>/administrator/UpdateImageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/administrator/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachAccount</servlet-name>
        <url-pattern>/administrator/SearchAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUnDeliveredSuccessDetail</servlet-name>
        <url-pattern>/manager/ManageUnTransportationDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePaymentwithshipper</servlet-name>
        <url-pattern>/manager/ManageAcceptPaymentWithShipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePaymentSuccess</servlet-name>
        <url-pattern>/manager/PaymentSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePaymentSuccessDetail</servlet-name>
        <url-pattern>/manager/PaymentSuccessDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperPaymentSuccess</servlet-name>
        <url-pattern>/shipper/PaymentSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperBanking</servlet-name>
        <url-pattern>/shipper/ShipperBanking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperPaymentSuccessDetail</servlet-name>
        <url-pattern>/shipper/PaymentSuccessDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
